{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    // require the use of === and !==
    // http://eslint.org/docs/rules/eqeqeq
    "eqeqeq": "warn",

    // enforce the consistent use of single quotes
    "quotes": ["error", "single"],

    // enforce consistent indentation
    "indent": ["error", 2],

    // require semicolons instead of ASI
    "semi": ["error", "always"],

    // require constructor function names to begin with a capital letter
    "new-cap": "error",

    // disallow the use of undeclared variables unless mentioned in /*global */ comments
    "no-undef": "error",

    // disallow unused variables
    "no-unused-vars": "error",

    // disallow mixed spaces and tabs for indentation
    "no-mixed-spaces-and-tabs": "error",

    // disallows creating new instances of String, Number, and Boolean
    "no-new-wrappers": "error",

    // disallow declaring the same variable more then once
    "no-redeclare": "error",

    // require use of the second argument for parseInt()
    "radix": "error",

    // enforce return after a callback
    "callback-return": "off",

    // require all requires be top-level
    // http://eslint.org/docs/rules/global-require
    "global-require": "error",

    // enforces error handling in callbacks (node environment)
    "handle-callback-err": "off",

    // disallow mixing regular variable and require declarations
    "no-mixed-requires": ["off", false],

    // disallow use of new operator with the require function
    "no-new-require": "error",

    // disallow string concatenation with __dirname and __filename
    // http://eslint.org/docs/rules/no-path-concat
    "no-path-concat": "error",

    // disallow use of process.env
    "no-process-env": "off",

    // disallow process.exit()
    "no-process-exit": "off",

    // restrict usage of specified node modules
    "no-restricted-modules": "off",

    // disallow use of synchronous methods (off by default)
    "no-sync": "off"
  }
}
